<!doctype html>
<html>
<head>
    <title>Movie Rater</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Rubik+Glitch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="css/index.css">
</head>
<body id="indexLanding">
<div class="container">

    <div class="jumbotron text-center">
        <h1>Movie World</h1>
        <img src="img/movies.gif" alt="Coffee mug">

        <!-- <p>Start Order</p>

        <a href="/orderSystem" class="btn btn-default"><span class="fa fa-user"></span>Start an Order</a> -->

        <p>User Login</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
